<button mat-button [matMenuTriggerFor]="langMenu" class="lang-button">
  <mat-icon>language</mat-icon>
  <span class="lang-label">{{ currentLangLabel() }}</span>
  <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
</button>

<mat-menu #langMenu="matMenu">
  @for (language of languages; track language.code) {
    <button mat-menu-item (click)="setLanguage(language.code)">
      @if (langService.language() === language.code) {
        <mat-icon>check</mat-icon>
      } @else {
        <mat-icon></mat-icon>
      }
      {{ language.label }}
    </button>
  }
</mat-menu>
