mat-toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

mat-toolbar span {
  flex: 1;
}

mat-card{
  margin: 16px auto;
  padding: 16px;
  overflow: hidden;
}


mat-divider{
    flex: 1 1 auto;
    border: none;
}
