mat-toolbar {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

mat-toolbar span {
  flex: 1;
}

mat-card{
  margin: 0 auto;
  overflow: hidden;
  border: none;
}


mat-divider{
    flex: 1 1 auto;
    border: none;
}
