.page-container{
  border: none;
  height: 85dvh;
}


.country-detail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.country-detail img {
  max-width: 200px;
  width: 100%;
  max-height: 200px;
  height: 100%;
  padding: 6px 12px;
  box-shadow: -10px 9px 20px 5px rgba(63, 81, 181, 0.09);
}

.borders {
  margin: 10px;
  border: none;
}

::ng-deep .mat-mdc-cell,
::ng-deep .mat-mdc-header-cell {
  border-bottom: none !important;
}
