<div class="page-container">

  <div style="margin-bottom:20px;">
    <button mat-stroked-button (click)="goBack()">
      ← {{ ui().back }}
    </button>
  </div>

  @if (loading()) {

  <div style="display:flex; justify-content:center; margin-top:40px;">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>

  } @else {

  @if (country(); as country) {

  <div style="display:flex; gap:40px; align-items:flex-start; flex-wrap:wrap;">

    <mat-form-field appearance="outline">

      <mat-label>{{ ui().language }}</mat-label>

      <mat-select [value]="langService.language()" (selectionChange)="langService.setLanguage($event.value)">

        @for (lang of languages; track lang.code) {
        <mat-option [value]="lang.code">
          {{ lang.label }}
        </mat-option>
        }

      </mat-select>

    </mat-form-field>

    <!-- Bandeira -->
    <div class="country-detail">
      <img [src]="country.flags.svg" [alt]="country.name.common" width="300" style="border-radius:8px;" />
    </div>

    <!-- Informações -->
    <div style="max-width:600px;" class="country-detail">

      <h2>{{ translatedName() }}</h2>

      <p><strong>{{ ui().officialName }}:</strong> {{ translatedOfficialName() }}</p>

      <p><strong>{{ ui().capital }}:</strong> {{ country.capital[0] || '—' }}</p>

      <p><strong>{{ ui().population }}:</strong> {{ country.population }}</p>

      <p><strong>{{ ui().region }}:</strong> {{ country.region }}</p>

      <p><strong>{{ ui().subregion }}:</strong> {{ country.subregion }}</p>

      <p><strong>{{ ui().area }}:</strong> {{ country.area }} km²</p>

      <!-- Idiomas -->
      <p>
        <strong>{{ ui().languages }}:</strong>
        @if (country.languages; as languages) {
        @for (lang of languages | keyvalue; track lang.key) {
        <span>{{ lang.value }} </span>
        }
        }
      </p>

      <!-- Moedas -->
      <p>
        <strong>{{ ui().currencies }}:</strong>
        @if (country.currencies; as currencies) {
        @for (currency of currencies | keyvalue; track currency.key) {
        <span>{{ currency.value.name }} ({{ currency.value.symbol }}) </span>
        }
        }
      </p>

      <!-- Fronteiras -->
      <div style="margin-top:20px;">
        <h3>{{ ui().borders }}</h3>

        @if (country.borders.length) {

        <mat-chip-set>
          @for (border of country.borders; track border) {
          <button mat-raised-button (click)="goToBorder(border)" class="borders">{{ border }}</button>
          }
        </mat-chip-set>

        } @else {
        <p>{{ ui().noBorders }}</p> }

      </div>

    </div>

  </div>

  } @else {

  <p>País não encontrado</p>

  }

  }
</div>
